{
  "env": {
    "es2021": true,
    "node": true
  },
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-native", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 1,
    "react/prop-types": 0,
    "@typescript-eslint/no-restricted-imports": [
      "warn",
      {
        "name": "@react-navigation/native",
        "importNames": ["useNavigation"],
        "message": "Use typed hooks `useAppNavigation` instead."
      },
      {
        "name": "react-redux",
        "importNames": ["useDispatch", "useSelector"],
        "message": "Use typed hooks `useAppDispatch` and `useAppSelector` instead."
      }
    ],
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/no-non-null-assertion": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ]
}
